* {
  box-sizing: border-box;
}
body {
  font-family: "Courier New", Courier, monospace;
  box-sizing: border-box;
  padding-bottom: 50px;
  font-size: 14px;
}
.wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
  gap: 32px;
  padding-top: 16px;
}
.form-container {
  width: 350px;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.checkboxes-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.covideo-container {
  position: relative;
  width: 800px;
  height: 830px;
  min-width: 500px;
  max-width: 100%;
  overflow: auto;
  resize: both;
  box-shadow: 0px 0px 8px #999;
  background: #f6f7f9;
}
.insert-video-container {
  font-family: initial;
}
.insert-video-container img {
  max-width: 100%;
  height: auto;
}
label {
  display: block;
  margin-bottom: 6px;
}
input[type="checkbox"],
input[type="radio"] {
  margin-right: 16px;
}
textarea {
  padding: 14px;
  width: 100%;
  border: 1px solid black;
  resize: none;
}
